*{

margin: 0;
padding: 0;

}

.main{

background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(image.jpg);
background-position: center;
background-size: cover;
height: 50vh;

}


.logo{

color: #ff7200;
font-size: 20px;
font-family: Arial;
float: right;
text-shadow: 1px 1px 2px #000000;

}


h2{

padding-top: 10px;
padding-right: 10px;
}


ul li a{

text-decoration: none;
color: #ffffff;
padding-top: 10px;
padding-left: 10px;
font-family: sans-serif;
text-align: right;

}


body {
  background-color: lightgray;
  height: 100px;
}


.foot {
   position: fixed;
   height: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: cadetblue;
   color: white;
   text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-flex;
  font-size: 20px;
  margin: 10px 10px;
  cursor: pointer;
}
