*{

margin: 0;
padding: 0;

}

.main{

width: 100;
background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(image.jpg);
background-position: center;
background-size: cover;
height: 30vh;

}


.logo{

color: #ff7200;
font-size: 20px;
font-family: Arial;
float: right;
text-shadow: 1px 1px #000000;
padding-bottom: 1000px;

}



